# Veri Bilimi için İstatistik

## Örnek Teorisi

In [2]:
import numpy as np
populasyon=np.random.randint(0,80,10000)
populasyon[0:10]

array([71,  6,  7, 58, 57,  3, 50, 57, 25, 60])

In [3]:
# Örneklem çekme

In [4]:
np.random.seed(10) # yapılacak işlemlerin her çalıştırıldığında aynı sonucu döndürmesini sağlar
orneklem = np.random.choice(a=populasyon,size=100)
orneklem[0:10]

array([64, 67, 50, 19, 44, 24, 28, 42, 32,  0])

In [5]:
orneklem.mean()

43.01

In [6]:
populasyon.mean()

38.8952

In [7]:
# Örneklem Dağılımı

In [8]:
np.random.seed(10)
orneklem1 = np.random.choice(a=populasyon,size=100)
orneklem2 = np.random.choice(a=populasyon,size=100)
orneklem3 = np.random.choice(a=populasyon,size=100)
orneklem4 = np.random.choice(a=populasyon,size=100)
orneklem5 = np.random.choice(a=populasyon,size=100)
orneklem6 = np.random.choice(a=populasyon,size=100)
orneklem7 = np.random.choice(a=populasyon,size=100)
orneklem8 = np.random.choice(a=populasyon,size=100)
orneklem9 = np.random.choice(a=populasyon,size=100)
orneklem10 = np.random.choice(a=populasyon,size=100)

In [12]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + 
 orneklem4.mean() + orneklem5.mean() + orneklem6.mean() + orneklem7.mean() 
 + orneklem8.mean() + orneklem9.mean() + orneklem10.mean() ) / 10

38.388

## Betimsel İstatistikler

In [13]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [16]:
!pip install researchpy

Collecting researchpy
  Downloading https://files.pythonhosted.org/packages/c2/e4/6fef21ad13c0b48ccbafba3ad8bd0bd65af0c9eb1aad9a82fec66c9de1ed/researchpy-0.1.9-py3-none-any.whl
Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (from researchpy) (0.25.1)
Requirement already satisfied: statsmodels in c:\users\asus\anaconda3\lib\site-packages (from researchpy) (0.10.1)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from researchpy) (1.3.1)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from researchpy) (1.16.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas->researchpy) (2019.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.0)
Requirement already satisfied: patsy>=0.4.0 in c:\users\asus\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->researchpy) (1.12.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.1.9

In [17]:
import researchpy as rp

In [18]:
rp.summary_cont(df[["total_bill","tip","size"]]) # Sayısal değişkenler için

     Variable      N       Mean        SD        SE  95% Conf.   Interval
0  total_bill  244.0  19.785943  8.902412  0.569919  18.663332  20.908554
1         tip  244.0   2.998279  1.383638  0.088578   2.823799   3.172758
2        size  244.0   2.569672  0.951100  0.060888   2.449737   2.689608

In [19]:
rp.summary_cat(df[["sex","smoker","day"]]) # kategorik değişkenler için

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [20]:
df[["tip","total_bill"]].cov() # kovaryans

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [21]:
df[["tip","total_bill"]].corr() # korelasyon

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

 ## Güven aralığı kullanılarak bir iş uygulaması

In [22]:
fiyatlar = np.random.randint(10,110,1000)

In [24]:
fiyatlar.mean()

58.492

In [25]:
import statsmodels.stats.api as sms # güven aralığı hesabı için

In [26]:
sms.DescrStatsW(fiyatlar).tconfint_mean() # Confidence İnterval

(56.67953887736034, 60.30446112263965)

# Olasılık

### Bernoulli Dağılımı

In [27]:
from scipy.stats import bernoulli

In [28]:
p = 0.6;

In [31]:
rv = bernoulli(p)
rv.pmf(k=1)

0.6

### Büyük Sayılar Yasası

In [35]:
rng = np.random.RandomState(123)
for i in np.arange(1,25):
    deney_sayisi = 2**i
    yazi_turalar=rng.randint(0,2,size=deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:",deney_sayisi ,"---","Yazı Olasılığı: %.2f"%(yazi_olasiliklari*100))

Atış Sayısı: 2 --- Yazı Olasılığı: 50.00
Atış Sayısı: 4 --- Yazı Olasılığı: 0.00
Atış Sayısı: 8 --- Yazı Olasılığı: 62.50
Atış Sayısı: 16 --- Yazı Olasılığı: 43.75
Atış Sayısı: 32 --- Yazı Olasılığı: 46.88
Atış Sayısı: 64 --- Yazı Olasılığı: 56.25
Atış Sayısı: 128 --- Yazı Olasılığı: 50.78
Atış Sayısı: 256 --- Yazı Olasılığı: 52.73
Atış Sayısı: 512 --- Yazı Olasılığı: 52.93
Atış Sayısı: 1024 --- Yazı Olasılığı: 50.20
Atış Sayısı: 2048 --- Yazı Olasılığı: 48.58
Atış Sayısı: 4096 --- Yazı Olasılığı: 49.49
Atış Sayısı: 8192 --- Yazı Olasılığı: 49.58
Atış Sayısı: 16384 --- Yazı Olasılığı: 49.96
Atış Sayısı: 32768 --- Yazı Olasılığı: 50.00
Atış Sayısı: 65536 --- Yazı Olasılığı: 49.68
Atış Sayısı: 131072 --- Yazı Olasılığı: 49.97
Atış Sayısı: 262144 --- Yazı Olasılığı: 50.13
Atış Sayısı: 524288 --- Yazı Olasılığı: 50.01
Atış Sayısı: 1048576 --- Yazı Olasılığı: 50.09
Atış Sayısı: 2097152 --- Yazı Olasılığı: 50.01
Atış Sayısı: 4194304 --- Yazı Olasılığı: 50.03
Atış Sayısı: 8388608 --- Yazı Olasılığı: 50.05
Atış Sayısı: 16777216 --- Yazı Olasılığı: 50.01

## Binom dağılımı

In [36]:
from scipy.stats import binom

In [37]:
p = 0.01
n = 100
rv=binom(n,p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

## Poisson Dağılımı

In [39]:
from scipy.stats import poisson

In [41]:
lambda_ = 0.1
rv = poisson(mu=lambda_)
print(rv.pmf(k=0))
print(rv.pmf(k=3))
print(rv.pmf(k=5))

0.9048374180359595
0.00015080623633932676
7.54031181696634e-08

## Normal Dağılım

In [42]:
from scipy.stats import norm

In [43]:
1-norm.cdf(90,80,5) # 90dan fazla olması

0.02275013194817921

In [44]:
1-norm.cdf(70,80,5) # 70den fazla olması

0.9772498680518208

In [45]:
norm.cdf(73,80,5) # 73ten az olması

0.08075665923377107

In [47]:
norm.cdf(90,80,5) - norm.cdf(85,80,5) # 85 ile 90 arasında olması.

0.13590512198327787