In [3]:
import numpy as np
import pandas as pd
m = np.arange(1,7).reshape((3,2))
pd.DataFrame(m, columns = ["var1","var2"])

   var1  var2
0     1     2
1     3     4
2     5     6

In [4]:
seri = pd.Series([121,200,150,99])

seri.values

array([121, 200, 150,  99], dtype=int64)